<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Dodaj wizytę</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
    <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
</head>
<body>

<nav th:replace="header :: header">
</nav>


<div class="container mt-4 offset-2 col-8">
    <form id="editVisit" action="#" method="post"
          th:action="@{/card/visitEdited/__${patientId}__(visitId=${visit.getId()})}" th:object="${visit}">
        <div>
            <h3>Data: </h3>
            <h3 th:text="${visit.getVisitDate()}"></h3>
            <h4>Numer gabinetu</h4>
            <h5 th:text="${visit.getOfficeNumber()}"></h5>
        </div>

        <div class="row">
            <div class="col-6">
                <input name="description" id="description" class="form-control" placeholder="Opis wizyty"
                       autofocus="autofocus"
                       th:value="${visit.description}"/>
            </div>
        </div>
        <div class="row mt-2">
            <div class="col-6">
                <a th:href="@{/card/__${patientId}__}" class="btn btn-secondary">Anuluj</a>
            </div>
            <div class="col-6">
                <input type="submit" class="btn btn-dark" value="Zatwierdź"/>
            </div>
        </div>
    </form>

</div>

<script th:src="@{/js/jquery.min.js}"></script>
<script th:src="@{/js/popper.min.js}"></script>
<script th:src="@{/js/bootstrap.min.js}"></script>
<script src="http://momentjs.com/downloads/moment-with-locales.js"></script>
<script src="http://momentjs.com/downloads/moment-timezone-with-data.js"></script>

<footer th:replace="footer :: footer">

</footer>
</body>
</html>
