<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
>
<head>
    <title>System rejestracji pacjentów w szpitalu</title>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}"/>
</head>
<body>
<nav th:replace="header :: header">
</nav>

<div class="container mt-4 offset-2 col-8">
    <h1>Karta Pacjenta</h1>
</div>
<div class="container mt-4 offset-2 col-8">
    <div class="row">
        <table class="table" th:object="${user}">
            <tr>
                <th>
                    Imię i nazwisko
                </th>
                <th>
                    <td th:text="${user.fullname}"/>
                </th>


                <th>
                    Województwo
                </th>
                <th>
                    <td th:text="${user.getProvince()}"/>
                </th>
                <tr>
                    <th>
                        PESEL
                    </th>
                    <th>
                        <td th:text="${user.pesel}"/>
                    </th>


                    <th>
                        Miasto
                    </th>
                    <th>
                        <td th:text="${user.address.city}"/>
                    </th>
                </tr>
                <tr>
                    <th>
                        Numer telefonu
                    </th>
                    <th>
                        <td th:text="${user.phone}"/>
                    </th>

                    <th>
                        Ulica
                    </th>
                    <th>
                        <td th:text="${user.address.street}"/>
                    </th>


                </tr>
                <tr>
                    <th>
                        Email
                    </th>
                    <th>
                        <td th:text="${user.email}"/>
                    </th>

                    <th>
                        Numer domu
                    </th>
                    <th>
                        <td th:text="${user.address.houseNumber}"/>
                    </th>


                </tr>
                <tr>
                    <th>
                        Lekarz prowadzący
                    </th>
                    <th>
                        <td th:text="${user.doctorFullname}"/>
                    </th>

                    <th>
                        Numer mieszkania
                    </th>
                    <th>
                        <td th:text="${user.address.flatNumber}"/>
                    </th>


                </tr>
            </tr>
        </table>
    </div>
</div>

<div class="container mt-4 offset-2 col-8">
    <h4>Wizyty</h4>
    <div class="row">
        <table class="table" th:object="${user}">
            <tr>
                <th>LP.</th>
                <th>Data</th>
                <th>Opis</th>
                <th>Lekarz</th>
            </tr>
            <tr th:each="visit, iterStat : ${visits}">
                <form id="editVisit" action="#" method="post"
                      th:action="@{/card/editVisit(patientId=${patientId}, visitId=${visit.visitId})}">
                    <td th:text="${iterStat.count}"></td>
                    <td th:text="${visit.visitDate}"></td>
                    <td th:text="${visit.visitDescription}"></td>
                    <td th:text="${visit.doctorName}"></td>
                    <td><input sec:authotize="hasAnyRole('ROLE_DOCTOR')" type="submit"
                               class="btn btn-dark" value="Edytuj Wizytę"/></td>
                </form>
            </tr>
        </table>
    </div>
</div>

<form id="newVisit" action="#" method="get" th:action="@{/card/newVisit/__${patientId}__}">
    <div>
        <div class="container mt-4 offset-2 col-8">
            <input sec:authotize="hasAnyRole('ROLE_DOCTOR')" type="submit"
                   class="btn btn-dark" value="Dodaj wizytę"/>
        </div>
    </div>
</form>

<div class="container mt-4 offset-2 col-8">
    <h4>Lista przebytych chorób</h4>
    <div class="row">
        <table class="table" th:object="${user}">
            <tr>
                <th>Lp.</th>
                <th>Nazwa</th>
            </tr>
            <tr th:each="disease, iterStat : ${diseases}">
                <td th:text="${iterStat.count}"></td>
                <td th:text="${disease.name}"></td>
            </tr>
        </table>
    </div>
</div>

<div class="container mt-4 offset-2 col-8" sec:authorize="hasAnyRole('ROLE_NURSE')"
     th:if="${!buttonTextExamination.isEmpty()}">
    <h4>Lista badań</h4>
    <div class="row">
        <table class="table" th:object="${user}">
            <tr>
                <th>Lp.</th>
                <th>Nazwa</th>
            </tr>
            <tr th:each="examination, iterStat : ${examinations}">
                <td th:text="${iterStat.count}"></td>
                <td th:text="${examination.name}"></td>
            </tr>
        </table>
    </div>
</div>

<form id="newDisease" action="#" method="post" th:action="@{/card/newDisease(patientId=${patientId})}">
    <div>
        <div class="container mt-4 offset-2 col-8">
            <input sec:authotize="hasAnyRole('ROLE_DOCTOR')" type="submit"
                   class="btn btn-dark" value="Dodaj chorobę"/>
        </div>
    </div>
</form>

<form id="changeStatus" action="#" method="post" th:action="@{/card/patientRelease/__${patientId}__}">
    <div>
        <div class="container mt-4 offset-2 col-8">
            <input sec:authorize="hasAnyRole('ROLE_NURSE')" th:if="${!buttonTextRelease.isEmpty()}" type="submit"
                   class="btn btn-dark" th:value="${buttonTextRelease}"/>
        </div>
    </div>
</form>
<form id="changeStatus" action="#" method="post" th:action="@{/card/patientAdmission/__${patientId}__}">
    <div>
        <div class="container mt-4 offset-2 col-8">
            <input sec:authorize="hasAnyRole('ROLE_NURSE')" th:if="${!buttonTextAdmision.isEmpty()}" type="submit"
                   class="btn btn-dark" th:value="${buttonTextAdmision}"/>
        </div>
    </div>
</form>
<form id="addProcedure" action="#" method="post" th:action="@{/card/newExamination/__${patientId}__}">
    <div>
        <div class="container mt-4 offset-2 col-8">
            <input sec:authorize="hasAnyRole('ROLE_NURSE')" th:if="${!buttonTextExamination.isEmpty()}" type="submit"
                   class="btn btn-dark" th:value="${buttonTextExamination}"/>
        </div>
    </div>
</form>


<script th:src="@{/js/jquery.min.js}"></script>
<script th:src="@{/js/popper.min.js}"></script>
<script th:src="@{/js/bootstrap.min.js}"></script>

<footer th:replace="footer :: footer">

</footer>
</body>
</html>