<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <title th:text="#{index.title}"></title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
</head>
<body>
<nav th:replace="header :: header">
</nav>

<div class="container mt-4 offset-2 col-8">
    <h1 th:text="#{patientCardFind.find}"></h1>
</div>

<div class="container mt-4 offset-2 col-8">
    <form id="patientFindForm" th:action="@{/card/}" method="post">
        <fieldset>

            <div class="form-group">
                <input type="text" name="pesel" id="pesel" class="form-control input-lg"
                       th:placeholder="#{patientCardFind.pesel}" required="true" autofocus="true"/>
            </div>

            <div class="row">
                <div class="col-xs-6 col-sm-6 col-md-6">
                    <input type="submit" class="btn btn-lg btn-dark btn-block" th:value="#{patientCardFind.search}"/>
                </div>
                <div class="col-xs-6 col-sm-6 col-md-6">
                </div>
            </div>
        </fieldset>
    </form>
</div>

<script th:src="@{/js/jquery.min.js}"></script>
<script th:src="@{/js/popper.min.js}"></script>
<script th:src="@{/js/bootstrap.min.js}"></script>
<script>
    $(document).on('submit','#patientFindForm', function (e) {
        e.preventDefault();
        var el = $(this);
        $.ajax({
            type: el.attr('method'),
            url: el.attr('action'),
            data: el.serialize(),
            context: this,
            success: function (data) {
                $('body').html(data);
            }
        })
    })
</script>

<footer th:replace="footer :: footer">

</footer>
</body>
</html>