<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <title>System rejestracji pacjentów w szpitalu</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="/">System rejestracji pacjentów w szpitalu</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="nav navbar-nav">
            <a sec:authorize="hasRole('ADMIN')" th:href="@{/admin/registerPersonnel}" class="nav-item nav-link" href="#">Rejestracja personelu</a>
        </div>
        <ul class="nav navbar-nav navbar-right">
            <a th:href="@{/logout}" class="nav-item nav-link">Wyloguj się</a>
        </ul>
    </div>
</nav>


<div class="container mt-4 offset-2 col-8">
    <form id="registerUser" action="#" method="post" th:action="@{/admin/registerPersonnel}">
        <div class="row">
            <div class="col-6">
                <input name="fullname" class="form-control" placeholder="Imię i nazwisko"/>
                <input name="pesel" class="form-control" placeholder="Pesel"/>
                <input name="email" class="form-control" placeholder="E-mail(opcjonalnie)"/>
                <input name="login" class="form-control" placeholder="Login"/>
                <input name="password" type="password" class="form-control" placeholder="Hasło"/>
                <input name="phone" class="form-control" placeholder="Numer telefonu"/>
            </div>
            <div class="col-6">
                <input name="job" class="form-control" placeholder="Zawód"/>
                <input name="specialization" class="form-control" placeholder="Specjalizacja"/>
            </div>
        </div>
        <div class="row mt-2">
            <div class="col-6">
                <a th:href="@{/main}" class="btn btn-secondary">Anuluj</a>
            </div>
            <div class="col-6">
                <input type="submit" class="btn btn-dark" value="Zatwierdź" />
            </div>
        </div>
    </form>

</div>

<script th:src="@{/js/jquery.min.js}"></script>
<script th:src="@{/js/popper.min.js}"></script>
<script th:src="@{/js/bootstrap.min.js}"></script>
</body>
</html>