<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <title>System rejestracji pacjentów w szpitalu</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
</head>
<body>

<nav th:replace="header :: header">
</nav>


<div class="container mt-4 offset-2 col-8">
    <form id="registerUser" action="#" method="post" th:action="@{/admin/registerPersonnel}">
        <div class="row">
            <div class="col-6">
                <input name="fullname" class="form-control" placeholder="Imię i nazwisko"/>
                <input name="pesel" class="form-control" placeholder="Pesel"/>
                <input name="email" class="form-control" placeholder="E-mail(opcjonalnie)"/>
                <input name="login" class="form-control" placeholder="Login"/>
                <input name="password" type="password" class="form-control" placeholder="Hasło"/>
                <input name="phone" class="form-control" placeholder="Numer telefonu"/>
            </div>
            <div class="col-6">
                <select name="job" class="form-control">
                    <option th:each="job : ${jobMap}" th:value="${job.key}" th:text="${job.value}"></option>
                </select>
                <input name="specialization" class="form-control" placeholder="Specjalizacja"/>
            </div>
        </div>
        <div class="row mt-2">
            <div class="col-6">
                <a th:href="@{/main}" class="btn btn-secondary">Anuluj</a>
            </div>
            <div class="col-6">
                <input type="submit" class="btn btn-dark" value="Zatwierdź"/>
            </div>
        </div>
    </form>

</div>

<script th:src="@{/js/jquery.min.js}"></script>
<script th:src="@{/js/popper.min.js}"></script>
<script th:src="@{/js/bootstrap.min.js}"></script>

<footer th:replace="footer :: footer">

</footer>
</body>
</html>