<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:text="#{index.title}"></title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
</head>
<body>
<nav th:replace="header :: header">
</nav>


<div class="container mt-4 offset-2 col-8">
    <form id="registerUser" action="#" method="post" th:action="@{/register}">
        <div class="row">
            <div class="col-6">
                <input name="fullname" class="form-control" th:placeholder="#{registerDoctor.fullname}"/>
                <input name="pesel" class="form-control" th:placeholder="#{registerDoctor.pesel}"/>
                <input name="email" class="form-control" th:placeholder="#{registerDoctor.email}"/>
                <input name="login" class="form-control" th:placeholder="#{registerDoctor.login}"/>
                <input name="password" type="password" class="form-control" th:placeholder="#{registerDoctor.pass}"/>
                <input name="phone" class="form-control" th:placeholder="#{registerDoctor.phone}"/>
            </div>
            <div class="col-6">
                <select name="province" class="form-control">
                    <option th:each="instance : ${provinceMap}" th:value="${instance.key}"
                            th:text="${instance.value}"></option>
                </select>
                <input name="city" class="form-control" th:placeholder="#{register.city}"/>
                <input name="street" class="form-control" th:placeholder="#{register.street}"/>
                <input name="houseNumber" class="form-control" th:placeholder="#{register.strretNr}"/>
                <input name="flatNumber" class="form-control" th:placeholder="#{register.home}"/>
                <input name="doctorFullname" class="form-control" th:placeholder="#{register.doctorName}"/>
            </div>
        </div>
        <div class="row mt-2">
            <div class="col-6">
                <a href="/" class="btn btn-secondary" th:text="#{editVisit.cancel}"></a>
            </div>
            <div class="col-6">
                <input type="submit" class="btn btn-dark" th:value="#{editVisit.cancel}"/>
            </div>
        </div>
    </form>

</div>

<script th:src="@{/js/jquery.min.js}"></script>
<script th:src="@{/js/popper.min.js}"></script>
<script th:src="@{/js/bootstrap.min.js}"></script>

<footer th:replace="footer :: footer">

</footer>
</body>
</html>