<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>System rejestracji pacjentów w szpitalu</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" th:href="@{css/bootstrap.min.css}">
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="/">System rejestracji pacjentów w szpitalu</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
            <a class="nav-item nav-link active" href="#">Rejestracja <span class="sr-only">(current)</span></a>
            <a id="loginPage" class="nav-item nav-link" th:href="@{/login}">Logowanie</a>
        </div>
    </div>
</nav>


<div class="container mt-4 offset-2 col-8">
    <div class="row">
        Użytkownik o podanym loginie już istnieje. <a href="#" onclick="history.back()">Kliknij, aby wrócić do formularza rejestracji.</a>
    </div>
</div>

<script th:src="@{js/jquery.min.js}"></script>
<script th:src="@{js/popper.min.js}"></script>
<script th:src="@{js/bootstrap.min.js}"></script>
</body>
</html>