<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>System rejestracji pacjentów w szpitalu</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" href="/">System rejestracji pacjentów w szpitalu</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav">
                <a th:href="@{/register}" class="nav-item nav-link active" href="#">Rejestracja <span class="sr-only">(current)</span></a>
                <a id="loginPage" class="nav-item nav-link" th:href="@{/login}">Logowanie</a>
            </div>
        </div>
    </nav>


    <div class="container mt-4 offset-2 col-8">
        <form id="registerUser" action="#" method="post" th:action="@{/register}">
            <div class="row">
                <div class="col-6">
                    <input name="fullname" class="form-control" placeholder="Imię i nazwisko"/>
                    <input name="pesel" class="form-control" placeholder="Pesel"/>
                    <input name="email" class="form-control" placeholder="E-mail(opcjonalnie)"/>
                    <input name="login" class="form-control" placeholder="Login"/>
                    <input name="password" type="password" class="form-control" placeholder="Hasło"/>
                    <input name="phone" class="form-control" placeholder="Numer telefonu"/>
                </div>
                <div class="col-6">
                    <select name="province" class="form-control">
                        <option th:each="instance : ${provinceMap}" th:value="${instance.key}" th:text="${instance.value}"></option>
                    </select>
                    <input name="city" class="form-control" placeholder="Miasto"/>
                    <input name="street" class="form-control" placeholder="Ulica"/>
                    <input name="houseNumber" class="form-control" placeholder="Numer domu"/>
                    <input name="flatNumber" class="form-control" placeholder="Numer mieszkania(opcjonalnie)"/>
                    <input name="doctorFullname" class="form-control" placeholder="Imię i nazwisko lekarza rodzinnego"/>
                </div>
            </div>
            <div class="row mt-2">
                <div class="col-6">
                    <a href="/" class="btn btn-secondary">Anuluj</a>
                </div>
                <div class="col-6">
                    <input type="submit" class="btn btn-dark" value="Zatwierdź" />
                </div>
            </div>
        </form>

    </div>

    <script th:src="@{/js/jquery.min.js}"></script>
    <script th:src="@{/js/popper.min.js}"></script>
    <script th:src="@{/js/bootstrap.min.js}"></script>
</body>
</html>