<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<form id="addVisit" action="#" method="post" th:action="@{/addVisit/}">
        <div class="row">
            <div class="col-6">
                <div class="alert alert-info">
                    Wizyta została dodana do terminarza.
                </div>
                <label class="control-label col-sm-6" for="visitDate">Data wizyty :</label>
                <div class="input-group registration-date-time">
                    <span class="input-group-addon" id="basic-addon1"><span class="glyphicon glyphicon-calendar" aria-hidden="true"></span></span>
                    <input class="form-control" name="visitDate" id="visitDate" type="date">
                    <span class="input-group-addon" id="basic-addon2"><span class="glyphicon glyphicon-time" aria-hidden="true"></span></span>
                    <input class="form-control" name="visitTime" id="visitTime" type="time">
                    <span class="input-group-btn">
                    </span>
                </div>
                <input name="officeNumber" id="officeNumber" class="form-control" placeholder="Numer gabinetu"/>
            </div>
        </div>
        <div class="row mt-2">
            <div class="col-6">
                <a th:href="@{/main}" class="btn btn-secondary">Anuluj</a>
            </div>
            <div class="col-6">
                <input type="submit" class="btn btn-dark" value="Zatwierdź"/>
            </div>
        </div>
    </form>
</html>
