<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">

<head>
    <meta charset="UTF-8">
    <title>Wizyta</title>

    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css"
          integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp" crossorigin="anonymous">
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
    <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
</head>

<body>
<nav th:replace="header :: header">
</nav>
<div class="main-content">
    <div class="container" align="center">
        <h3 class="site-title">Czy zatwierdzic wizyte ?</h3>
        <div class="container" align="center">
            <div class="panel panel-default" style="background-color:gray;">
                <div class=" panel-body ">
                    <div class="col">
                        <div class=" clearfix">
                            <div class="alert alert-danger">
                                Wystąpił problem !
                            </div>
                            <a class="btn icon-btn btn-primary" th:href="@{details(id=${doctor.id})}"><span class="fa fa-arrow-circle-left"></span>Powrot</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<footer th:replace="footer :: footer">
</footer>
</body>
</html>












