<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title th:text="#{index.title}"></title>
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css"
          integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp" crossorigin="anonymous">
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
    <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
</head>

<body>
<nav th:replace="header :: header">
</nav>

<div class="main-content">
    <div class="container" align="center">
        <h3 class="site-title" th:text="#{confirmVisit.allow}"></h3>
        <div class="container" align="center">
            <div class="panel panel-default" style="background-color:gray;">
                <div class=" panel-body ">
                    <div class="col">
                        <div class=" clearfix">
                            <h4 th:text="'Data : '+${#temporals.format(visit.visitDate, 'yyyy-MM-dd HH:mm')}"></h4>
                            <h4 th:text="'Lekarz : '+${doctor.fullname}"></h4>
                            <a class="btn icon-btn btn-primary" th:href="@{details(id=${doctor.id})}"><span
                                    class="fa fa-arrow-circle-left"></span>[[#{confirmVisit.back}]]</a>
                            <a class="btn icon-btn btn-success"
                               th:href="@{bookvisit(doctorId=${doctor.id},visitId=${visit.id})}"><span
                                    class="fa fa-plus-circle"></span>[[#{confirmVisit.save}]]</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<footer th:replace="footer :: footer">
</footer>
</body>
</html>












