<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Lekarz</title>

    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
    <link rel="stylesheet" media="screen" th:href="@{/css/style.css}"/>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css"
          integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp" crossorigin="anonymous">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
</head>

<body>

<nav th:replace="header :: header">
</nav>

<div class="main-content">
    <div class="container" align="center">
        <h3 class="site-title" th:text="${doctor.specialization.toUpperCase()}"></h3>
        <div class="row">
            <div class="col">
                <div class="panel panel-default" style="background-color:gray;">
                    <div class=" panel-body ">
                        <div class="col">
                            <img class="img-responsive" src="http://www.pvhc.net/img240/uyttxprhsqycyximpzjb.png"
                                 style="width:30%;">
                            <div class=" clearfix">
                                <h3 th:text="${doctor.fullname.toUpperCase()}"></h3>
                            </div>
                        </div>
                        <div class="col">
                            <div class="profile-block">
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="container">
                <div class="row">
                    <div class="col">
                        <div class="panel panel-default">
                            <table>
                                <tr>
                                    <th>
                                        <table class="table table-hover" id="dev-table-monday" style="width: 100%;">
                                            <tr>
                                                <th width="70%">Poniedzialek</th>
                                                <th width="30%"></th>
                                            </tr>
                                            <tr th:each="visit: ${visits}" th:object="${visit}">
                                                <div th:if="${visit.visitDate.getDayOfWeek().value} == 1">
                                                    <td th:text="${#temporals.format(visit.visitDate, 'yyyy-MM-dd HH:mm')}"></td>
                                                    <div th:if="${visit.busyVisit}==false">
                                                        <td><a th:href="@{confirm(id=*{id})}"><span
                                                                class='far fa-calendar-alt'></span></a></td>
                                                    </div>
                                                    <div th:unless="${visit.busyVisit}==false">
                                                        <td><a><span class='far fa-calendar-alt text-muted'></span></a>
                                                        </td>
                                                    </div>
                                                </div>
                                            </tr>
                                        </table>
                                    </th>
                                    <th>
                                        <table class="table table-hover" id="dev-table-tuesday">
                                            <tr>
                                                <th width="70%">Wtorek</th>
                                                <th width="30%"></th>
                                            </tr>
                                            <tr th:each="visit: ${visits}" th:object="${visit}">
                                                <div th:if="${visit.visitDate.getDayOfWeek().value} == 2">
                                                    <td th:text="${#temporals.format(visit.visitDate, 'yyyy-MM-dd HH:mm')}"></td>
                                                    <div th:if="${visit.busyVisit}==false">
                                                        <td><a th:href="@{confirm(id=*{id})}"><span
                                                                class='far fa-calendar-alt'></span></a></td>
                                                    </div>
                                                    <div th:unless="${visit.busyVisit}==false">
                                                        <td><a><span class='far fa-calendar-alt text-muted'></span></a>
                                                        </td>
                                                    </div>
                                                </div>
                                            </tr>
                                        </table>
                                    </th>
                                    <th>
                                        <table class="table table-hover" id="dev-table-wednesday">
                                            <tr>
                                                <th width="70%">Środa</th>
                                                <th width="30%"></th>
                                            </tr>
                                            <tr th:each="visit: ${visits}" th:object="${visit}">
                                                <div th:if="${visit.visitDate.getDayOfWeek().value} == 3">
                                                    <td th:text="${#temporals.format(visit.visitDate, 'yyyy-MM-dd HH:mm')}"></td>
                                                    <div th:if="${visit.busyVisit}==false">
                                                        <td><a th:href="@{confirm(id=*{id})}"><span
                                                                class='far fa-calendar-alt'></span></a></td>
                                                    </div>
                                                    <div th:unless="${visit.busyVisit}==false">
                                                        <td><a><span class='far fa-calendar-alt text-muted'></span></a>
                                                        </td>
                                                    </div>
                                                </div>
                                            </tr>
                                        </table>
                                    </th>
                                    <th>
                                        <table class="table table-hover" id="dev-table-thursday">
                                            <tr>
                                                <th width="70%">Czwartek</th>
                                                <th width="30%"></th>
                                            </tr>
                                            <tr th:each="visit: ${visits}" th:object="${visit}">
                                                <div th:if="${visit.visitDate.getDayOfWeek().value} == 4">
                                                    <td th:text="${#temporals.format(visit.visitDate, 'yyyy-MM-dd HH:mm')}"></td>
                                                    <div th:if="${visit.busyVisit}==false">
                                                        <td><a th:href="@{confirm(id=*{id})}"><span
                                                                class='far fa-calendar-alt'></span></a></td>
                                                    </div>
                                                    <div th:unless="${visit.busyVisit}==false">
                                                        <td><a><span class='far fa-calendar-alt text-muted'></span></a>
                                                        </td>
                                                    </div>
                                                </div>
                                            </tr>
                                        </table>
                                    </th>
                                    <th>
                                        <table class="table table-hover" id="dev-table-friday">
                                            <tr>
                                                <th width="70%">Piątek</th>
                                                <th width="30%"></th>
                                            </tr>
                                            <tr th:each="visit: ${visits}" th:object="${visit}">
                                                <div th:if="${visit.visitDate.getDayOfWeek().value} == 5">
                                                    <td th:text="${#temporals.format(visit.visitDate, 'yyyy-MM-dd HH:mm')}"></td>
                                                    <div th:if="${visit.busyVisit}==false">
                                                        <td><a th:href="@{confirm(id=*{id})}"><span
                                                                class='far fa-calendar-alt'></span></a></td>
                                                    </div>
                                                    <div th:unless="${visit.busyVisit}==false">
                                                        <td><a><span class='far fa-calendar-alt text-muted'></span></a>
                                                        </td>
                                                    </div>
                                                </div>
                                            </tr>
                                        </table>
                                    </th>
                                </tr>
                            </table>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>

<footer th:replace="footer :: footer">
</footer>
</body>
</html>