<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Wizyty</title>

    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.5/jquery.min.js"></script>
    <script type="text/javascript" th:src="@{/js/visit.js}"></script>
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
    <script src="http://code.jquery.com/jquery-1.10.2.js"></script>
    <script src="http://code.jquery.com/ui/1.11.2/jquery-ui.js"></script>
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
</head>

<body>

<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="/">System rejestracji pacjentów w szpitalu</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="nav navbar-nav">
            <a sec:authorize="hasRole('ADMIN')" th:href="@{/admin/registerPersonnel}" class="nav-item nav-link" href="#">Rejestracja personelu</a>
        </div>
        <ul class="nav navbar-nav navbar-right">
            <a th:href="@{/logout}" class="nav-item nav-link">Wyloguj się</a>
        </ul>
        <ul class="nav navbar-nav navbar-right">
            <a th:href="@{/staff}" class="nav-item nav-link">Personel</a>
        </ul>
        <ul class="nav navbar-nav navbar-right">
            <a th:href="@{/visits}" class="nav-item nav-link">Wizyty</a>
        </ul>
    </div>
</nav>

<h3 style="text-align:center">Przyszle wizyty</h3>
<hr>
<div class="container">
    <div class="row">
        <div class="col-md-8 col-md-offset-2">
            <div class="panel panel-default">
                <table class="table table-hover" id="dev-table">
                    <tr>
                        <th>Data</th>
                        <th>Godzina</th>
                        <th></th>
                    </tr>
                    <tr th:each="future: ${futureVisits}" th:object="${future}">
                        <td  th:text="${#temporals.format(future.visitDate, 'yyyy-MM-dd HH:mm')}"></td>
                        <td><a href="#" data-toggle="modal" data-target="#myModal"  th:attr="data-id=${future.id},data-date=${future.visitDate}"><span class='glyphicon glyphicon glyphicon-remove'></span></a></td>
                    </tr>
                </table>
            </div>
        </div>

    </div>
</div>

<hr>
<h3 style="text-align:center">Historia wizyt</h3>
<hr>
<div class="container">
    <div class="row">
        <div class="col-md-8 col-md-offset-2">
            <div class="panel panel-default">
                <table class="table table-hover" id="dev-table-historical">
                    <tr>
                        <th>Data</th>
                        <th>Szczegóły</th>
                    </tr>
                    <tr th:each="historical: ${historicalVisits}" th:object="${historical}">
                        <td  th:text="${#temporals.format(historical.visitDate, 'yyyy-MM-dd HH:mm')}"></td>
                        <td th:text="*{description}"></td>
                    </tr>
                </table>
            </div>
        </div>

    </div>
</div>


<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
     aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="modal-title" id="exampleModalLongTitle" style="text-align:center">Czy odwolac wizyte ?</h3>
            </div>
            <div class="modal-body">
                <input type="hidden" id="id" readonly />
                <h5 class="modal-date" id="modalDate">-</h5>
            </div>
            <div class="modal-footer">
                <a class="btn icon-btn btn-primary" data-dismiss="modal"><span class="glyphicon btn-glyphicon glyphicon glyphicon-arrow-left img-circle text-success"></span>Anuluj</a>
                <a class="btn icon-btn btn-success" id="btnYes" onclick="setHref()"><span class="glyphicon btn-glyphicon glyphicon glyphicon-remove img-circle text-success"></span>Odwolaj wizyte</a>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
    function setHref(){
        var userInput = document.getElementById('id').value;
        var lnk = document.getElementById('btnYes');
        lnk.href = "/release?id=" + userInput;
    }
</script>
</body>
</html>
