<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Wizyty</title>

    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.5/jquery.min.js"></script>
    <script type="text/javascript" th:src="@{/js/visit.js}"></script>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css"
          integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp" crossorigin="anonymous">
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
</head>

<body>
<nav th:replace="header :: header">
</nav>

<h3 style="text-align:center">Przyszle wizyty</h3>
<hr>
<div class="container">
    <div class="row">
        <div class="col">
            <div class="panel panel-default">
                <table class="table table-hover" id="dev-table">
                    <tr>
                        <th>Imię i Nazwisko lekarza</th>
                        <th>Data</th>
                        <th>Anuluj wizytę</th>
                    </tr>
                    <tr th:each="future: ${futureVisits}" th:object="${future}">
                        <td  th:text="${future.doctorName}"></td>
                        <td  th:text="${#temporals.format(future.visitDate, 'yyyy-MM-dd HH:mm')}"></td>
                        <td><a href="#" data-toggle="modal" data-target="#myModal"  th:attr="data-id=${future.visitId},data-doctor=${future.doctorName},data-date=${#temporals.format(future.visitDate, 'yyyy-MM-dd HH:mm')}"><span class='fas fa-times-circle'></span></a></td>
                    </tr>
                </table>
            </div>
        </div>

    </div>
</div>

<hr>
<h3 style="text-align:center">Historia wizyt</h3>
<hr>
<div class="container">
    <div class="row">
        <div class="col">
            <div class="panel panel-default">
                <table class="table table-hover" id="dev-table-historical">
                    <tr>
                        <th>Imię i Nazwisko lekarza</th>
                        <th>Data</th>
                        <th>Szczegóły</th>
                    </tr>
                    <tr th:each="historical: ${historicalVisits}" th:object="${historical}">
                        <td  th:text="${historical.doctorName}"></td>
                        <td  th:text="${#temporals.format(historical.visitDate, 'yyyy-MM-dd HH:mm')}"></td>
                        <td th:text="*{visitDescription}"></td>
                    </tr>
                </table>
            </div>
        </div>

    </div>
</div>


<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
     aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="modal-title" id="exampleModalLongTitle" style="text-align:center">Czy odwolac wizyte ?</h3>
            </div>
            <div class="modal-body">
                <input type="hidden" id="id" readonly />
                <h5>Data: </h5>
                <h4 class="modal-date" id="modalDate"></h4>
                <h5>Lekarz: </h5>
                <h4 class="modal-doctor" id="modalDoctor"></h4>
            </div>
            <div class="modal-footer">
                <a class="btn icon-btn btn-primary" data-dismiss="modal"><span class="glyphicon btn-glyphicon glyphicon glyphicon-arrow-left img-circle text-success"></span>Anuluj</a>
                <a class="btn icon-btn btn-success" id="btnYes" onclick="setHref()"><span class="glyphicon btn-glyphicon glyphicon glyphicon-remove img-circle text-success"></span>Odwolaj wizyte</a>
            </div>
        </div>
    </div>
</div>

<footer th:replace="footer :: footer">
</footer>

<script type="text/javascript">
    function setHref(){
        var userInput = document.getElementById('id').value;
        var lnk = document.getElementById('btnYes');
        lnk.href = "/release?id=" + userInput;
    }
</script>
</body>
</html>
