<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <title>System rejestracji pacjentów w szpitalu</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark" th:fragment="header">
    <a class="navbar-brand" href="/">System rejestracji pacjentów w szpitalu</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup"
            aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="nav navbar-nav">
            <a sec:authorize="hasRole('ADMIN')" th:href="@{/admin/registerPersonnel}" class="nav-item nav-link"
               href="#">Rejestracja personelu</a>
        </div>
        <div class="nav navbar-nav">
            <a sec:authorize="hasRole('DOCTOR')" th:href="@{/card/}" class="nav-item nav-link" href="#">Wyszukiwanie
                pacjenta</a>
        </div>
        <div class="nav navbar-nav">
            <a sec:authorize="hasRole('DOCTOR')" th:href="@{/doctor/patientList}" class="nav-item nav-link" href="#">Wykaz pacjentów</a>
        </div>
        <div class="nav navbar-nav">
            <a sec:authorize="hasRole('USER')" th:href="@{/staff}" class="nav-item nav-link" href="#">Personel</a>
        </div>
        <div class="nav navbar-nav">
            <a sec:authorize="hasRole('USER')" th:href="@{/visits}" class="nav-item nav-link" href="#">Wizyty</a>
        </div>

        <ul sec:authorize="isAuthenticated()" class="nav navbar-nav navbar-right">
            <a th:href="@{/logout}" class="nav-item nav-link">Wyloguj się</a>
        </ul>
        <div class="navbar-nav">
            <a sec:authorize="!isAuthenticated()" th:href="@{/register}" class="nav-item nav-link">Rejestracja
                <span
                        class="sr-only">(current)</span></a>
            <a sec:authorize="!isAuthenticated()" id="loginPage" class="nav-item nav-link"
               th:href="@{/login}">Logowanie</a>
        </div>


    </div>
</nav>
</body>
</html>